<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="text-center">Register</h1>
      <form [formGroup]="registrationForm" class="col justify-content-center">
        <div class="input-group">
          <label for="email" class="input-group-addon">Email</label>
          <input id="email" class="form-control" type="email" formControlName="email">
        </div>
        <div class="input-group">
          <label for="password" class="input-group-addon">Password</label>
          <input id="password" class="form-control" type="password" formControlName="password">
        </div>
        <div class="input-group">
          <label for="repeatPassword" class="input-group-addon">Repeat password</label>
          <input id="repeatPassword" class="form-control" type="password" formControlName="repeatPassword">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
