<div class="splash-image">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Whats wrong</h1>
      </div>
    </div>
  </div>
</div>
<section class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>How it works?</h3>
        <ul>
          <li>Anyone from the community can post an issue</li>
          <li>People can discuss an issue</li>
          <li>People can vote for issues they find important, that's how an issue is chosen as the most critical at the moment</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="functionality">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Functionality</h3>
        <ul>
          <li>Sign up and complete your profile</li>
          <li>Post an issue</li>
          <li>You can vote for others' issues</li>
          <li>Anyone of our community can vote for your issue</li>
          <li>Anyone of our community can extend your issue</li>
          <li>You can vote for any issue</li>
          <li>You can extend any issue</li>
          <li>Issues owner can accept or decline extension to his issue</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-12 our-team">
        <h3>Our team</h3>
        <div class="row">
          <div class="col-6 our-team__member">
            <div class="row">
              <div class="col-4 our-team__member-avatar-wrapper">
                <img src="/assets/img/our-team/1.jpg" alt="" class="our-team__member-avatar">
              </div>
              <div class="col-8">
                <h5 class="our-team__member-name">Nick Kravchenko</h5>
                <ul class="our-team__member-roles">
                  <li class="our-team__member-role">Frontend engineer</li>
                </ul>
                <div class="our-team__member-description">
                  Nikolay is an experienced backend and frontend engineer.
                  He has more than 3 years of technical expertise in development of web applications.
                  Nikolay is responsible for the frontend technical parts of the project,
                  making the What's Wrong platform go live.
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 our-team__member">
            <div class="row">
              <div class="col-4 our-team__member-avatar-wrapper">
                <img src="/assets/img/our-team/2.jpg" alt="" class="our-team__member-avatar">
              </div>
              <div class="col-8">
                <h5 class="our-team__member-name">Anastasia Borenko</h5>
                <ul class="our-team__member-roles">
                  <li class="our-team__member-role">Backend engineer</li>
                </ul>
                <div class="our-team__member-description">
                  Anastasia is an experienced backend and frontend engineer.
                  She has more than 3 years of technical expertise in development of web applications.
                  Anastasia is responsible for the backend technical parts of the project,
                  making the What's Wrong platform go live.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
