.splash-image{
  background-image: url('/assets/img/splash-image.jpg');
  min-height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  background-size: 100%;
  h1{
    color: #ffffff;
  }
}
